.travel-wrapper {
  font-family: sans-serif;
  padding: 100px;

  .headinger {
    margin-top: 280px;
    margin-right: -150px;
  }

  .maindiv {
    display: flex;
    gap: 30px;
    position: relative;
    padding: 10px;
    
   
    .btntop {
      margin-left: -250px;

    }
  }
    .main-item {
      display: flex;
  }

  .maindiv .background-title {
    width: 360px;
    height: 497px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin-right: 100px;
   
  }

  .type {
    color: var(--yellow, #FFC700);
    font-size: 14px;
    font-weight: 700;
  }

  .titl1 {
    margin-right: 10px;
    color: var(--white, #FFF);
    font-size: 12px;
    font-weight: 500;
  }

  .texts-edu {
    margin-top: 200px;
    display: block;
  }

  .icon-time,
  .icon-price {
    margin-left: 5px;
    margin-top: 5px;
  }

  .maindiv .background-title .title {
    color: var(--white, #FFF);
    font-size: 12px;
    font-weight: 500;
  }
}