.traveler-wrapper {
    b {
      margin-left: 100px;
    }
  
    .maindiv {
      margin-left: 500px;
  
      .background-title {
        
        width: 413px;
        height: 570px;
        padding: 100px;
      }
    }
  }
  